:root {
  --soft-red: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --pale-orange: hsl(33, 100%, 98%);
}

* {
  margin: 0;
  padding: 0;
  background-color: hsl(28, 62%, 91%);
  font-family: 'Overpass', sans-serif;
}
